*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  font-family:  Arial, sans-serif;
  
}


.container{
    width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;   
    align-items: center;

}


.signup{
    display: flex;
    flex-direction: column; 
    width: 445pxx;   
    background-color: #ffffff;
    border-radius: 8px;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    align-items: center;
    
}

.caption {
       text-align: center;
}


h1{
    font-size: 25px;
    line-height: 24px;
    padding: 5px;
}

p, label  {
   font-size: 15px; 
   line-height: 24px;
   padding: 5px;
   color: #606770;
}

input{
    width: 210px;
    font-size: 20px;
}


input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid rgba(204, 208, 213, 0.4);   
    margin:10px 5px;

}

label {    
    align-self: flex-start;    
    font-size: 18px;  
    padding: 5px 10px;
}
select {
        font-size: 20px;
        width: 128px;
}
input[type="radio"] {
    width: 40px;
    margin-right: 0;   

}
.radio{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    gap: 20px;  
}

.radio-btn{    
    border-radius: 5px;
    border: 0.5px solid rgba(204, 208, 213, 0.4); 
    text-align: center;  

}
.label-radio{
    font-size: 20px;
    color:#000000;
    padding: 12px;
    
    
}
input[type="password"], input[type="email"]{
    width: 428px;
    font-family:  Arial, sans-serif;
   
}
.wrap{
     width: 430px;
}
a{
    color:blue;
}
.btn{
       display: flex;

       justify-content: center;
       align-items: center;
}
button{
    background-color: #00a400;
    width: 200px;
    color: #eee;
    font-size: 20px;
}


