.container{
  max-width: 1200px;
  margin: 0 auto;
}

.back{
  background-image: linear-gradient(to bottom right, #008000, #ffd900, #c9860a);
}
.calculator {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(6, 1fr); 
  gap: 10px; 
  width: 300px; 
  margin: 0 auto; 
  border: 1px solid #cccccc;
  background-color: #ffff00;
  padding: 10px;
}

.row1 {
  grid-column: 1 / -1; 
  grid-row: 1; 
  background-color: #eeeeee;
  text-align: right;
  padding: 10px;
  font-size: 36px;
}

.row2 {
  grid-column: 1 / 3; 
  grid-row: 2; 
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
  font-size: 28px;
}

.button {
  padding: 15px;
  font-size: 22px;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
}
.lastrow{
  grid-column: 1 / 4; 
  grid-row: 6; 
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
}

.lastcolumn{
  grid-column: 4; 
  grid-row: 5/7; 
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;

}

